.App {
  text-align: center;
  background-color: rgba(0, 0, 0,  0.5);

}

body, html{
  background-color: white;
  /* background-image: url('./components/assets/oficina.jpg'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.error{
  color: red;
}

/* Chat webSocket */

/* .chat-container-chatSocket {
  width: 100%;
  height: 400px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
} */

.container-message-socket {
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;

}

.message-socket {
  color: #333;
  width: 400px;
  background-color: rgba(0, 0, 0,  0.5);
}


/* Login  */
.form-login{
  width: 500px;
  height: 300px;
  background-color: rgb(1, 57, 57);
  padding: 5px;
  border-radius: 20px;
  margin-left: calc(50% - 250px);
  margin-top: 300px;
}
.form-login label {
  color: aliceblue;
  font-weight: bold;
}

.btn-login{
  border-radius: 20px;
  background-color:  cadetblue;
  border: white solid 3px;

}
.btn-login:hover{
  background-color: black;
  color: white;

}


.content-form-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  
}
.input-form{
width: 250px;
margin-left: calc(50% - 125px);
margin-top: 25px;
margin-bottom: 10px;
}

.container-buttons{
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  margin-left: calc(50% - 300px);
}

.inputs-container{
  margin-top: 00px;
  width: 600px;
  color: white;
  border: 0.5px solid black;
  margin-left: 0vw;
 
  /* box-shadow: 1px 1px 1px 1px black; */
}

.home-container{
  
  margin-left: 10vw;
  
}
/* container litttle console */

.img-chat {
  width: 300px;
  height: 300px;
}
.img-container{
  position: absolute;
  left: 100px;
color: white;
  top: 100px;
}

.little-console-container{
  background-image: url("./components/assets/fondologo-removebg-preview.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  box-sizing: 1px 1px 1px 1px black;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 850px;
  top: 50px;
}


/* messages seccion */

.container-messages{
  background-color: green;
  color: white;
width: 39.2vw;
margin-left: -10vw;
border-radius: 10px;
}

/* Usuarios conectados */

.users-conected-container{
  position: absolute;
  left:650px;
  top: 50px;
  border: 0.5px solid black;
  box-sizing: 1px 1px 1px 2px black;
  width: 200px;
  height: 500px;
  overflow-y: auto;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

/* Messages */

.message{
  background-color:rgba(0 0 0 0.5);
  color: white;
  width: 400px;
  height: auto;
   
}

.container-message{
margin-left: 0px;

  /* background-color:  */
}
/* 
.chat-container{
  text-align: center;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: -10vw;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
} */



.btn{
  border-radius: 20px;
  background-color:  cadetblue;
  border: white solid 3px;
width: 200px;
padding: 2.5px;
margin-left: center;
}
.btn:hover{
  background-color: black;
  color: white;

}

.btn-send{
  margin-left: calc(50% - 100px);
}
.input-messsage{
  width: 300px;
  height: 100px;
  margin-left: calc(50% - 150px);
}

/* enviar mensaje */


.form-sendmessage{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0,  0.5);
}

.form-sendmessage-socket{
 position: absolute;
 left: 0;
 top: 00px;

}


@media(min-width: 320px){
/* actualizacions */

.chat-containers{
display: flex;
flex-direction: column;
}

  .home-container {
    margin-left: 10vw;
    width: 100vw;
}

body, html{
  background-color: rgba(10, 10, 63, 0.5);
  background-image: url('./components/assets/oficina.jpg');
   background-size: 100% 100%; 
    background-repeat: no-repeat;
  width: 240vw;
  height: 240vh;

}
.container-messages {
  background-color: green;
  z-index: 9;
  color: white;
  width: 250vw;
  height: 150px;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: -10vw;
  border-radius: 10px;
}

.inputs-container {
  top: 950px;
  width: 600px;
  color: white;
  border: 0.5px solid black;
left: 85px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
}


.chat-container{
  position: absolute;
 
  width: 335px;
  height: 300px;
  top: 650px;
  left: 0px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 335px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 650px; 
   left: 300px; ; 
  color: black;
}

.welcome-to-chat{
  height: 150px;
}

.little-console-container {
  background-image: url(http://localhost:3000/static/media/fondologo-removebg-preview.cf01388….png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  box-sizing: 1px 1px 1px 1px black;
  width: 240vw;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 150px;
}


.users-conected-container {
  position: absolute;
  left: 0px;
  top: 150px;
  border: 0.5px solid black;
  box-sizing: 1px 1px 1px 2px black;
  width: 200px;
  height: 500px;
  overflow-y: auto;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.img-container {
  position: absolute;
  left: 250px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  top: 100px;
}


.input-messsage {
  width: 150px;
  height: 100px;
  margin-left: calc(50% - 75px);
}

}

@media(min-width: 460px){

  .img-container {
    position: absolute;
    left: 400px;
    color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
}


.chat-container{
  position: absolute;
 
  width: 335px;
  height: 300px;
  top: 650px;
  left: 150px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 335px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 650px; 
   left: 550px; ; 
  color: black;
  text-align: center;
}
.h1-chat{
  width: 200px;
  margin-left: calc(50% - 100px);
}


.inputs-container {
  top: 950px;
  width: 600px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid black;
left: 200px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
}

body, html{
  background-color: rgba(10, 10, 63, 0.5);
  background-image: url('./components/assets/oficina.jpg');
   background-size: 100% 100%; 
    background-repeat: no-repeat;
  width: 240vw;
  height: 250vh;

}

}

@media(min-width: 580px){
  .img-container {
    position: absolute;
    left: 500px;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
}
.users-conected-container {
  position: absolute;
  left: 0px;
  top: 175px;
  border: 0.5px solid black;
  box-sizing: 1px 1px 1px 2px black;
  width: 200px;
  height: 500px;
  overflow-y: auto;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}


.chat-container{
  position: absolute;
 
  width: 335px;
  height: 300px;
  top: 650px;
  left: 300px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 335px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 650px; 
   left: 700px; ; 
  color: black;
  text-align: center;
}
.h1-chat{
  width: 200px;
  margin-left: calc(50% - 100px);
}

.inputs-container {
  top: 950px;
  width: 600px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid black;
  left: 360px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
}

}

@media(min-width: 720px){

  .img-container {
    position: absolute;
    left: 700px;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
}



.chat-container{
  position: absolute;
 
  width: 335px;
  height: 300px;
  top: 650px;
  left: 500px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 335px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 650px; 
   left: 900px; ; 
  color: black;
  text-align: center;
}
.h1-chat{
  width: 200px;
  margin-left: calc(50% - 100px);
}
.inputs-container {
  top: 950px;
  width: 600px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid black;
  left: 560px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
}

}

@media(min-width: 900px){
  
  .img-container {
    position: absolute;
    left: 850px;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
}


.chat-container{
  position: absolute;
 
  width: 335px;
  height: 300px;
  top: 650px;
  left: 650px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 335px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 650px; 
   left: 1050px; ; 
  color: black;
  text-align: center;
}

.inputs-container {
  top: 1050px;
  width: 600px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid black;
  left: 700px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
}

}

@media(min-width: 1280px){
  .img-container {
    position: absolute;
    left: 575px;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
}


.chat-container{
  position: absolute;
 
  width: 335px;
  height: 300px;
  top: 750px;
  left: 350px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 335px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 750px; 
   left: 750px; ; 
  color: black;
  text-align: center;
}

.img-chat {
  width: 300px;
  height: 300px;
}

.container-messages {
  background-color: green;
  z-index: 9;
  color: #ffffff;
  width: 110vw;
  height: 150px;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: -10vw;
  border-radius: 10px;
}


body, html{
  background-color: rgba(10, 10, 63, 0.5);
  background-image: url('./components/assets/oficina.jpg');
   background-size: 100% 100%; 
    background-repeat: no-repeat;
  width: 100vw;
  height: 200vh;

}


.inputs-container {
  top: 1175px;
  width: 600px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid black;
  left: 405px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
}


.little-console-container {
  background-image: url(http://localhost:3000/static/media/fondologo-removebg-preview.cf01388….png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  box-sizing: 1px 1px 1px 1px black;
  width: 100vw;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 150px;
}


.users-conected-container {
  position: fixed;
  left: 0px;
  top: 150px;
  border: 0.5px solid black;
  box-sizing: 1px 1px 1px 2px black;
  width: 200px;
  height: 500px;
  overflow-y: auto;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}




}

@media(min-width: 1400px){


  /* chat socket io */
  .input-messsage {
    width: 200px;
    height: 100px;
    margin-left: calc(50% - 100px);
    padding: 2.5px;
}


  
  .container-message-socket {
    color: black;
  }
  
  .message {
    color: #333;
  }


  /*  */



  .img-container {
    position: absolute;
    left: 550px;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
}

.img-chat {
  width: 300px;
  height: 300px;
}

.container-messages {
  background-color: green;
  z-index: 9;
  color: #ffffff;
  width: 110vw;
  height: 150px;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: -10vw;
  border-radius: 10px;
}


body, html{
  background-color: rgba(10, 10, 63, 0.5);
  background-image: url('./components/assets/oficina.jpg');
   background-size: 100% 100%; 
    background-repeat: no-repeat;
  width: 100vw;
  height: 220vh;

}
.container-chats{
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.chat-container{
  position: absolute;
 
  width: 435px;
  height: 300px;
  top: 650px;
  margin-left: 350px;
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.chat-container-chatSocket {
  background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
 
width: 435px;
height: 300px; /* O ajusta según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0px;
   top: 650px; 
   left: 200px;  
  color: black;
}
.inputs-container {
  top: 955px;
  width: 600px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid black;
  left: 412.5px;
  position: absolute;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 100px;
  /* box-shadow: 1px 1px 1px 1px black; */
}




.little-console-container {
  background-image: url(http://localhost:3000/static/media/fondologo-removebg-preview.cf01388….png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  box-sizing: 1px 1px 1px 1px black;
  width: 100vw;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 150px;
}


.users-conected-container {
  position: absolute;
  left: 0px;
  top: 150px;
  border: 0.5px solid black;
  box-sizing: 1px 1px 1px 2px black;
  width: 200px;
  height: 500px;
  overflow-y: auto;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}



}